extends layout

block style
  //- link(rel='stylesheet', href='/stylesheets/index.css')

block content
  h2 WelCome, Thanks For Connecting With HealthCare.
  p We apperciate your signup on HealthCare but HealthCare will verify 
    |your Identity and all other necessary details , we will ping you on your mobile number soon.
    |Until that You can wait for our call or browse our home page, Sorry For Inconvenient !   Stay Tuned.