extends psLayout

block style
    link(rel="stylesheet", href="/stylesheets/Patient/psDcCatg.css")

block content
    .container 
        h3 Browse Our Various Types of Doctor.
        .row 
            .col-lg-3.col-md-4.col-6.boxx
                a(href="/patient/dc/General Physician")
                    .card
                        img.card-img-top(src='/images/HealthCare.jpg', alt='We Will Attach Image Soon')
                        .card-body
                            h4.card-title General Physician
                            p.card-text   For Fever,headache,common cold,cough    
            .col-lg-3.col-md-4.col-6.boxx
                a(href="/patient/dc/Dermatologist")
                    .card
                        img.card-img-top(src='/images/HealthCare.jpg', alt='We Will Attach Image Soon')
                        .card-body
                            h4.card-title Dermatologist
                            p.card-text   For skin and hair problems 
            .col-lg-3.col-md-4.col-6.boxx
                a(href="/patient/dc/Dentist")
                    .card
                        img.card-img-top(src='/images/HealthCare.jpg', alt='We Will Attach Image Soon')
                        .card-body
                            h4.card-title Dentist
                            p.card-text   For teeth, tongue and gums problems.
            .col-lg-3.col-md-4.col-6.boxx
                a(href="/patient/dc/Paediatrician")
                    .card
                        img.card-img-top(src='/images/HealthCare.jpg', alt='We Will Attach Image Soon')
                        .card-body
                            h4.card-title Paediatrician
                            p.card-text  For treating children. 
            .col-lg-3.col-md-4.col-6.boxx
                a(href="/patient/dc/ENT")
                    .card
                        img.card-img-top(src='/images/HealthCare.jpg', alt='We Will Attach Image Soon')
                        .card-body
                            h4.card-title ENT
                            p.card-text  For Ear ache,Common Cold,Cough,Earpain
            .col-lg-3.col-md-4.col-6.boxx
                a(href="/patient/dc/Neurologist")
                    .card
                        img.card-img-top(src='/images/HealthCare.jpg', alt='We Will Attach Image Soon')
                        .card-body
                            h4.card-title Neurologist
                            p.card-text   For treating and diagnosing issues of the nervous system.
