doctype html
html
  head  
    title Dance Academy
    block style
    block scripts
  body
    nav#navbar
      ul
        li #[a(href="/") Home]
        li #[a(href="/contact") Contact]
        li #[a(href="/") ClassInfo]
        li #[a(href="/") JoinUs]
        li #[a(href="/") AboutUs]      
        li.log #[a(href="/login") Login]      
    block content
    footer#footer
      | Copyright &#xa9; My-Dance Academy.   
      