extends base.pug
block scripts
    script(src='/static/index.js')

block style
    style
        include ../static/style.css 
        include ../static/stylelog.css 

block content
    div.container
        h2 LogIn
        form(action="/login", method="post" class="myform")
            p.para USERNAME
            input(type="text" class="mylogin" name="username" placeholder="Enter Your Username.")
            p.para PASSWORD
            input(type="password" class="mylogin" name="password" placeholder="Enter Your Password.")