extends dcLayout

block style
    link(rel="stylesheet", href="/stylesheets/Doctor/dcHome.css")

block content
    .top-box
        h3.martop Hello Doctor Your are the foundation of our HealthCare
        h3 keep working.
        h4 Wanna make prescription for your patient go ahead.
            a.btn(href='/doctor/makePrescription/nothing/nill')
                i.features-icon.fas.fa-4x.fa-hand-point-right
            //- a(href='../../images/goodhealth.jpg' download='Health-Photo') download
    