doctype html
html
    head
        title BookMyBus
        block style
        //- block scripts
    body
        div.container
            ul
                li #[a(href="/") Home]
                li.tit BookMyBus
                li.login #[a(href="/login") LogIn]
        block content
        footer#footer
            | copyright &#xa9; reserved 