*{
    margin: 0;
    padding: 0;
}
.cont::before{
   content: "";
   background: url(/static/img/bus1.jpg) no-repeat center center/cover;
   position: absolute;
   height: 90%;
   width: 100%;
   z-index: -1;
   opacity: 0.6;
}
 
.cont{   
}
.cont h1{
    font-weight: bold;
    padding-top: 100px;
    padding-left: 520px;
}
.myform{
 display: flex;
 flex-direction: column;
}
.myinput{
    width: 30%;
    margin: 10px auto;
    padding: 3px 3px;
    border-radius: 4px;
}
.btn{
    width: 10%;
    margin-left: 590px;
    border-radius: 10px;
}
#footer{
   margin-top: 137px;
}